<div class="container">
<div class="row">
<div class="col-lg-12 my-3">
    <div class="alert alert-primary" role="alert">
      <p class="fw-bold mb-0">One Way Data binding</p> 
      </div>
</div>
</div>



<div class="row mb-3">
    <div class="col-lg-12"><p class="fw-bold text-danger">Interpolation</p> </div>
    <div class="col-lg-3">{{courseName}}</div>
<div class="col-lg-3"><input type="{{inputType}}" value="{{courseName}}" placeholder="Enter text"/></div>
<div class="col-lg-3">{{rollNo}}</div>
<div class="col-lg-3">{{isIndian}}</div>
<hr class="mt-3">
</div>

<div class="row">
    <div class="col-lg-12"><p class="fw-bold text-danger">Property binding</p></div>
<div class="col-lg-3">
    <div [class]="propertyclass">
    {{courseName}}
</div>
</div>

<div class="col-lg-3">
    <div [class]="propertyclass">{{courseName}}    </div>
</div>
<div class="col-lg-3">
    <input type="text" [value]="courseName" placeholder="Enter text">
</div>
<div class="col-lg-3">
    <input [type]="inputType" [value]="courseName" placeholder="Enter text">

</div>
<hr class="mt-3">

</div>


<div class="row">
    <div class="col-lg-12"><p class="fw-bold text-danger">Event binding</p></div>


<div class="col-lg-3">

<button class="btn btn-danger" (click)="showAlert('Hi i m Event Binding' )">Click Me </button>

</div>

<div class="col-lg-3">
    {{courseName}}
    <button class="btn btn-danger" (click)="changeCourseName()">Click Me </button>
</div>
<div class="col-lg-3">
</div>
<div class="col-lg-3">

</div>
<hr class="mt-3">

</div>








<div class="row">
    <div class="col-lg-12 my-3">
        <div class="alert alert-primary" role="alert">
          <p class="fw-bold mb-0">Two Way Data binding</p> 
          </div>
    </div>
    </div>





<div class="row">
<div class="col-lg-3">
    <input type="text" class="form-control" [(ngModel)]="courseName">
</div>

<div class="col-lg-3">
<select [(ngModel)]="stateCity" >
    <option value="" >Select</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Pune">Pune</option>
    <option value="Banglore">Banglore</option>

</select>
</div>


<div class="col-lg-3">
    <select class="custom-select custom-select-sm" [(ngModel)]="nameofStudent">
        <option selected>Select</option>
        <option value="Reena">Reena</option>
        <option value="Dhyana">Dhyana</option>
        <option value="Jiyansh">Jiyansh</option>
      </select>
</div>

<div class="col-lg-3">
    <input type="text" [(ngModel)]="nameofStudent" class="me-2">
    <input type="checkbox" [(ngModel)]="isIndian" >: {{isIndian}}


</div>



<hr class="mt-3">

</div>



<div class="row">
    <div class="col-lg-12 my-3">
        <div class="alert alert-primary" role="alert">
          <p class="fw-bold mb-0">signal   firstName = signal("Rakesh");
        </p> 
          </div>
    </div>
    </div>

<div class="col-lg-6">
    <div [class]="bgClass()">signal just like a variable</div>
        <div>   output is:  {{firstName()}}</div>

    <button class="btn btn-primary" (click)="chnageFirstName()" type="button">Change Name by signal</button>


</div>




</div>